/***************************** General styles *****************************/
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/***************************** index body wrapper*****************************/



/***************************** Header section *****************************/

ul.topnav {
    box-sizing: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom-style: groove;
    border-bottom-color: #BC4123 ;
    width: 100%;
    background-color: black;
    position: fixed;

    /* test */
    font: 25px 'Times New Roman', Times, serif;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: rgb(119, 116, 116);}

ul.topnav li a.active {background-color:#BC4123;}

ul.topnav div.right {display: flex;}

.social-li { float: right !important; }

.menu-button {
    display: none;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.menu-line1 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-line2 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-line3 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}

.menu-content a {
    float: none;
}
.menu-content {
    display: none;
    transition: 0.4s;
}
.change .menu-content{
    display: block;
    transition: 0.4s;
}
.change .menu-line1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: 0.4s;
}
.change .menu-line2{
    opacity: 0;
    transition: 0.4s;
}
.change .menu-line3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    transition: 0.4s;
}




/***************************** Responsive design settings *****************************/
@media screen and (max-width: 900px) {
    #skill-inner div {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    ul.topnav div.right,
    ul.topnav li {float: none;}
    .social-li {
        display: flex;
        justify-content: center;
    }
    ul.topnav{
        position: relative;
        background-color: black;
        overflow: hidden;
    }
    #profile-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #inner-left {
        max-height: 166px;
        max-width: 155px !important;
    }
    #inner-right {
        overflow: unset;  /* this doesnt do anything but i was using it to scroll */
        width: 75% !important;
    }
    #contact-form {
        height: 450px;
    }
    .active { display: none !important; }
    .projects { display: none !important; }
    .about { display: none !important; }
    .menu-button {
        display: inline-block;
        cursor: pointer;
    }
}


/*___________ social media links ___________*/
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-github {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-facebook {
    color: white;
}


/***************************** Body section *****************************/
body {
    background-image: url(../images/sajad-nori-fS84AVYcxU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    padding: 0;
    margin: 0;
    font: 3vh 'Times New Roman', Times, serif;
}

.body-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*___________ body of index ___________*/

.body-index { scroll-behavior: auto; }


/*___________ body of projects ___________*/


/*___________ body of about ___________*/


/*___________ profile section ___________*/
#profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-bottom: black;
    border-bottom-style: ridge;
}
#profile-inner {
    max-width: 600px;
    max-height: 400px;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 15%;

    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border-radius: 50px;
}
#inner-left {
    box-sizing: inherit;
    max-width: 230px;
    width: 40%;
    float: left;
    margin: 10% 5%;
    border-style: groove;
    background-color: azure;
    border-radius: 50px;

}
#inner-right {
    width: 50%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
}


/*___________ need section ___________*/

#need-container {
    height: 100vh;
    width: 100%;
    border-bottom-style: ridge;
    border-bottom-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}
#inner-need {
    margin-top: auto;
    margin-bottom: auto;
    
}
#need h3 {
    color: white; 
    text-align: center;
    margin-bottom: 50px;
}
#need ul {
    color: white;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}
#need ul li {
    margin-bottom: 20px;
}
#contact-me {
    display: flex;
    justify-content: center;
}
#contact-me h4 {
    color: white;
    margin-right: 10vw;
}
#contact-me button {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 15px;
    max-height: 25px;
}


/*___________ soft skills section ___________*/

#soft-skill-container {
    height: 100vh;
    border-top-style: ridge;
    border-bottom-style: ridge;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#soft-skill-container h3 {
    color: white;
    text-align: center;
}
#skill-inner {
    display: grid;
    grid-template-columns: auto auto auto ;
    box-sizing: border-box;
    color: aliceblue;
    margin: 20px 60px;
}
#skill-inner div {
    padding: 10px 5px;
    text-align: center;
    font-size: 2vw;
    background-color: rgba(224, 118, 32);
    overflow: auto;
    margin: 10px 5px;
}


/*___________ contact form section ___________*/
#contact-container {
    margin: 50px 30px;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
 }

label {
    color: white;
}

/* contact form on main page */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4caF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#contact-form {
    box-sizing: border-box;
    display: flex;
    border-radius: 5px;
    height: auto;
    padding: 20px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 650px;
}



/***************************** Footer section *****************************/
.footer-section {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 20);
    height: 250px;
    opacity: .7;
    overflow: hidden;

    /* temp */
    font: 14px 'Times New Roman', Times, serif;
}



.inner-footer {
    border-top-style: groove;
    border-top-color: #BC4123;
    height: 100%;
    overflow: hidden;
    padding-top: 20px;
}
.f-top {
    width: 80%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.f-left {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.f-left p {
    margin: 30px 50px; 
}
.f-right {
    float: right;
    width: 50%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.f-right li {
    float: right;
    width: 50%;
    height: 80%;
    list-style-type: none;
}
.f-right ul {
    padding: 0;
}
.f-right H3 {
    text-align: center;
    height: 20%;
}
.f-bottom {
    width: 100%;
    bottom: 0;
    height: 80%;
    position: relative;
}





/**&&&&&&&&&&&&&&&&&&&&&&&&&&&&& about page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&**/

/***************************** body section *****************************/

.about-body-section {
    min-height: 1000px;
}




/**&&&&&&&&&&&&&&&&&&&&&&&&&&&&& projects page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&**/

/***************************** body section *****************************/


.project-body-section {
    min-height: 1000px;
}