html {
    height: 100%;
    margin: 0;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg) } 
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg) } 
}


body {
    margin: 0;
    font-family:  'Coustard';font-size: 22px;
    width: 100%;
    height: auto;
}


.body-content {
    margin-left: 175px;
    border-left: #bb6f27;
    border-left-style: groove;
    border-right-style: groove;

}

/* Site nav section */
.sidenav {
    margin: 0;
    padding: 0;
    width: 175px;
    background-color: rgba(0, 0, 0, 0.795);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 0;
}

.sidenav a.active {
    background-color:#bb6f27;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* intro is the top half of the index page */
#intro {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(../images/tandem-x-visuals-5jBPxMkoTDA-unsplash.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
    padding: 50px;
    border-bottom: #fd7e14;
    border-bottom-style: groove;

}

#intro-box {
    justify-content: center;
    max-width: 400px;
    max-height: 600px;
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fd8f28;
    border-radius: 40px;
}

#profile-image {
    margin-top: 20px;
    box-sizing: inherit;
    width: 80%;
    border-radius: 40px;
}

#profile-desc {
    text-align: center;
    color: white;
}

#profile {
    margin: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 400px;
}

/* bottom part of index page */
#index-bottom {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fd8f28;

}

/* contact form on main page */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4caF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
}



@media screen and (max-width: 700px) {
    .sidenav a {
        padding: 13px;
    }

    .sidenav {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    /* navigation buttons */
    .active {
        float: left;
        padding: 14px;
    }
    .proj-page {
        float: left;
        padding: 14px;
    }
    .ex-page {
        float: left;
        padding: 14px;
    }
    .home {
        float: left;
        padding: 14px;
    }
    .intro {
        margin-left: 0;
    }

    /* social media buttons */
    .fa {
        float: right;
        position: unset !important;
    }

    section.body-content {margin-left: 0;}


}
@media screen and (max-width: 480px) {
    .sidenav a{
        padding: 12px;
    }
    .ex-page{
        padding-right: 28px;
    }
    .sidenav {
        height: 52px;
    }
    .fa {
        position: absolute !important;
        top: 50px !important;
        display: none !important;
    }
    .nav-buttons-container {
        width: 100%;
        top: 0;
    }
    .intro{
        margin-left: 0;
    }

}

.need {
    margin: 40px;
}

.need ul {
    color: white;
}

.fa {
    position: unset !important;
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.fa-github {
    color: white;
    left: 110px;
}
.fa-linkedin {
    color: white;
    left: 60px;
}
.fa-facebook {
    color: white;
    left: 10px;
}



/***************** secondary pages ********************/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #463940;
    border-bottom-style: groove;
    border-bottom-color: #BC4123 ;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.o-active) {background-color: #111;}

ul.topnav li a.o-active {background-color:#BC4123;}

ul.topnav li.o-right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.o-right,
    ul.topnav li {float: none;}
}



/***************** projects page ********************/
#p-secondary-pages {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #463940;
    bottom: 0;
    min-height: 1000px;
}

#p-inner-body {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #0B172A;
    text-align: center;
}
.outer-window {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
    background-color: transparent;
}
.inner-window {
    background-color: #BC4123;
    width: 500px;
    border-radius: 50px;
    margin: 30px 50px;
} 

.project-window {
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 50px;
    background-image: url(../images/CaptchaS-1.PNG);
    background-size: cover;
    border-style: ridge;
    border-color: #0B172A;

}

.desc-box {
    overflow: hidden;
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 0;
}
.desc-left {
    
    max-height: 100px;
    overflow: scroll;
    background-color: white;
    font-size: 15px;
    border-radius: 30px;
    border-style: ridge;
    border-color: black;
}
.desc-left::-webkit-scrollbar {
    display: none;
}
.desc-right {
    display: flex;
    justify-content: center ;
    float: right;
    margin-right: 30px;
    
}
.desc-right .fa-github {
    color: black;
}

.project-header-box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

.project-header {
    float: left;
}
/***************** exercises page ********************/





